* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1cd2ff;
}

.inall {
  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  /* padding-bottom: 200px; */
  margin: 0 15px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.102);
}

.inall h2 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.inall h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #1cd2ff;
}

.inall form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: #ffffff;
  overflow: scroll;
}

.inall form .form {
  position: absolute;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.inall form .title{
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}

.inall form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .fields .input-field{
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.input-field label{
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}

.input-field input{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.input-field input:is(:focus, :valid){
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"]{
  color: #707070;
}

.input-field input[type="date"]:valid{
  color: #333;
}

.input-field select{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.inall form button, .button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #4070f4;
  transition: all 0.3e linear;
  cursor: pointer;
}

.inall form button, 
.inall form button, .button{
  font-size: 14px;
  font-weight: 400;
}

form button:hover{
  background-color: #34636e;
}

form button:active{
  font-size: 12px;
}

.inall .Log-btn{
 position: absolute;
 right: 0;
}


button.Log-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  max-width: 100px;
  width: 50%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background-color: #4070f4;
  transition: all 0.3e linear;
  cursor: pointer;
}

button.Log-btn:hover{
  background-color: #34636e;
}

@media (max-width: 750px){
  .inall form{
    overflow-y: scroll;
  }
  .inall form::-webkit-scrollbar{
    display: none;
  }
  form .fields .input-field{
    width: calc(100% / 2 - 15px);
  }
}

@media (max-width: 550px){
  form .fields .input-field{
    width: 100%;
  }
}
